@model IEnumerable<WebApplication.Models.Cliente>

@{
    ViewData["Title"] = "Lista de Clientes";
}
<div class="text-center">
    <h1>Lista de Clientes</h1>
</div>
<hr />
<div class="text-center">
    <a class="btn btn-outline-success" asp-action="Create" asp-controller="Cliente">Adicionar um novo Cliente</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                Usuário
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User)
                </td>
                <td>
                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.ClienteId">Editar</a>
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.ClienteId">Detalhes</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ClienteId">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>
